[Unit]
Description=Emacs Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/emacs --daemon
Restart=always
User=junio

[Install]
WantedBy=multi-user.target

